description = "The Jumbotron"
==
<section id="jumbotron" class="m-t-3">
	<div class="jumbotron">
		<div class="container text-xs-center text-center">
			{% placeholder jumbotron default %}
			<h1 class="display-3">Chikara Kyokushin Karate Dojo</h1>
			<p class="lead">Welcome to Chikara Dojo. The North-Easts only Kyokushin Karate club!</p>
			<hr class="m-y-2">
			<p>"If you do not overcome your tendancy to give up easily, your life will lead to nothing" Mas Oyama</p>
			{% endplaceholder %}
		</div>
	</div>
</section>
